<html>
<head>
	{% load static %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

	<title>
		{% block title %}
		Hearts Tracker
		{% endblock %}
	</title>
</head>

<body>
	<div class="header">
		<img src="{% static 'home_app/images/logo.png' %}" alt="logo" class="logo">
		<!-- <p>Hearts Hub</p> -->
	</div>

	<div class="center">
		<h1 class="page-title">Login</h1>
			<!-- <div class="card" style="text-align: center">
				<form method="POST">
					{% csrf_token %}
					{{form}}
					<p>Don't have an account? Create one <a href="/register">here</a></p>
					<button type="submit" class="btn-submit">Login</button>
				</form>
			</div> -->

			<div class="card" style="text-align: center">
				<form method="post">
					{% csrf_token %}
				    {{ form.non_field_errors }}
				    <div class="fieldWrapper">
				        {{ form.username.errors }}
				        <label for="{{ form.username.id_for_label }}">Username:</label>
				        {{ form.username }}
				    </div>

				    <div class="fieldWrapper">
				        {{ form.password.errors }}
				        <label for="{{ form.password.id_for_label }}">Password:</label>
				        {{ form.password }}
				    </div>
				    <p>Don't have an account? Create one <a href="/register">here</a></p>
				    <button type="submit" class="btn-submit">Login</button>
				</form>
		    	<a href="/" class="btn-submit">Home</a>
			</div>
		</div>
	</div>

	<div class="home_app">
		{% if messages %}
    		{% for message in messages %}
				<div class="alert alert-warning col-3" role="alert">
					{{ message }}
				</div>
    		{% endfor %}
		{% endif %}
	</div>

</body>

<!-- <footer class="home_app">
	<p>An AppMoto Creation</p>
</footer> -->
</html>
