<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'home_app/images/favicon.ico' %}">
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 600px)" href="{% static 'home_app/style.css' %}">
		<link rel="stylesheet" type="text/css" media="screen and (max-width: 599px)" href="{% static 'home_app/style-small.css' %}">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}
			Hearts Base
			{% endblock %}
		</title>
	</head>

	<body>
		<nav class="nav" id="nav" style="display: none">
			<a href="/">Home</a>				
			<a href="/groups">Groups</a>
			<a href="/create">Create</a>
			<a href="/people">Players</a>
			<a href="/logout">Log out</a>
		</nav>

		<div class="header" style="text-align: center;">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" fill="none" stroke-linecap="round" stroke-linejoin="round" style="padding-left: 10px; float: left; cursor: pointer;" onclick="toggleNav()">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
				<line x1="4" y1="6" x2="20" y2="6" />
				<line x1="4" y1="12" x2="20" y2="12" />
				<line x1="4" y1="18" x2="20" y2="18" />
			</svg>
			<!-- <img src="{% static 'home_app/images/heart.png' %}" alt="logo" class="menu"> -->
			<img src="{% static 'home_app/images/logo.png' %}" alt="logo" class="logo">
			<!-- <p>Hearts Hub</p> -->
		</div>

		<div class="content">
			{% if request.user.is_authenticated %}
				{% block content %}
					Content
				{% endblock %}
			{% else %}
				<p class="loginhere">To access this feature, log in <a href="/login">here</a></p>
			{% endif %}
		</div>
	</body>

	<script type="text/javascript">
		const toggleNav = () => {
			let nav = document.getElementById("nav")
			if (nav.style.display === "none") {
				nav.style.display = "block"
			} else {
				nav.style.display = "none"
			}
		}
	</script>

</html>

<!-- Archive ---------------------------------------------------------------------------------------------- -->

<!-- 	<div class="footer">
		<p>An AppMoto Creation</p>
	</div> -->


		<!-- <div class="content">
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-warning col-3" role="alert">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		</div> -->