{% extends "home_app/base.html" %}

{% block title %}
Hearts Hub - Create Group
{% endblock %}

{% block content %}
<h1 class="page-title">Create Group</h1>

<form method="post" action="#" id="form">
	{% csrf_token %}
	<h2 class="section-title">Group Information</h2>
	<h5 class="desc-small">Enter group information here. You will be able to edit the maximum points later if needed</h5>
	
	<label for="groupname">Group Name</label>
	<input type="text" name="newgroup" id="groupname" placeholder="Enter name here">
	<br>

	<label for="maxpoints">Maximum Points for Game</label>
	<input type="number" step='1' name="maxpoints" value='50' id="maxpoints">
	<br>

	<h2 class="section-title">Players</h2>
	<h5 class="desc-small">Add players to the game here. There must be at least 3 players to create the group and a player name cannot be blank. Click on a player after adding them to remove</h5>
	<div class="grid" id="players">
	</div>

	<input type="text" name="newPlayer" id="newPlayer" placeholder="Enter name of new player">
	<button class="btn-submit" type="button" onclick="addPlayer()">Add Player</button>

	<div class="line-break"></div>

	<textarea style="display: none;" id="formData" name="formData"></textarea>
	<button type="button", name="startgroup", value="startgroup" class="btn-submit" onclick="send()">Create Group</button>
</form>

<script type="text/javascript">
	let players = [];

	const addPlayer = () => {
		let newPlayer = document.createElement('p')
		newPlayer.setAttribute('class', 'card')
		newPlayer.setAttribute('onclick', 'removePlayer()')
		newPlayer.setAttribute('style', 'cursor: pointer; text-align: center; padding: 10px 10px; font-weight: bold')
		let playerName = document.getElementById("newPlayer")
		newPlayer.innerHTML = `${playerName.value}`

		players.push(playerName.value)
		document.getElementById("players").appendChild(newPlayer)
		playerName.value = ""
		console.log(players)
	}

	const removePlayer = () => {
		let players = document.getElementById("players")
		document.addEventListener('click', function(e) {
			players.removeChild(e.target)
			e.target.remove()
		}, {once: true}) 
	}

	const send = () => {
		let groupData = {
			name: document.getElementById("groupname").value,
			maxPoints: Number(document.getElementById("maxpoints").value),
			players: players
		};

		let groupDataText = JSON.stringify(groupData)
		console.log(groupDataText)
		const formData = document.getElementById("formData")
		formData.value = groupDataText
		console.log(formData.value)

		document.getElementById("form").submit();
	}
</script>


{% endblock %}

<!-- Archive -----------------------------------------------------------------------------------------------

	<form method="post" action="/create/">
		{% csrf_token %}
		{{form.as_p}}
		<button type="submit", name="save">Create New Group</button>
	</form>
