{% extends "home_app/base.html" %}

{% block title %}
Hearts Hub - {{group.name}}
{% endblock %}

{% block content %}
	<h1 class="page-title" id="title">{{group.name}} - {{gameName}}</h1>

	<div class="grid" style="grid-template-columns: 1fr 1fr 1fr 1fr 1fr" id="roto">
		{% for step in group.rotation %}
			<div class="card" id="rotation_{{step}}">
				<p style="text-align: center; font-weight: bold;" class="rotation">{{step}}</p>
			</div>
		{% endfor %}
	</div>

	<h2 class="section-title">Total Points in Game</h2 class="section-title">
	<h5 class="desc-small" style="margin-bottom: 10px">These are the current standings in the game. The maximum points set for this group is {{group.maxpoints}}</h5>
	<div style="margin: 0px auto 10px auto; width: 90%"> 
		{% for i in group.stats %}
			<p style="font-family: monospace; margin-bottom: 5px; font-weight: bold;" class="player_data" id="{{i.name}}">{{i.name}} - 0</p>
			<div class="progress-container">
				<div class="progress-bar" id="{{i.name}}_bar"></div>
			</div>
		{% endfor %}
	</div>

	<h2 class="section-title" style="padding-top: 10px;">Points in Hand</h2>
	<h5 class="desc-small" style="margin-bottom: 20px">Input the number of hearts received for this hand and click "Queen" for the player that received the Queen of Spades. Either hit the "End Game Now" button or reach the maximum number of points to save this game's data</h5>
	<form method="post" action="#" id="form">
		{% csrf_token %}
		<div class="container-center">
			{% for i in group.stats %}
				<div class="container-input">
					<label for="p{{i.id}}">{{i.name}}</label>
					<input type="number" step="1" name="p{{i.id}}" id="{{i.name}}_hearts">

					<input type="checkbox" value="clicked" name="c{{i.id}}" id="{{i.name}}_queen">
					<label for="{{i.name}}_queen" class="checked-label">Queen
					<!-- <span class="label-icon"></span> -->
					</label>

					<button type="button" class="btn-moonshot" id="{{i.name}}_moon" onclick="moonshot()">Shoot the Moon</button>

					<div class="line-break"></div>
				</div>
			{% endfor %}

			<!-- <button type="submit", name="save", value="save" class="btn-submit">Save</button> -->
			<button type="button" name="save" value="save" class="btn-submit" onclick="updateScores()">Confirm Points</button>
			<br>
			<div id="pointsValidate" style="display: inline-block;"></div>
			<div class="line-break"></div>
			<textarea id="formData" style="display: none;" name="formData"></textarea>
			<button type="button" name="endgame" value="endgame" onclick="send()" class="btn-delete">End Game Now</button>
			<!-- <button type="submit", name="moonshot", value="moonshot">Moonshot</button> -->
		</div>
	</form>

	<script>
		const maxPoints = Number("{{group.maxpoints}}")
		const players = document.getElementsByClassName("player_data")
		const rotation = document.getElementsByClassName("rotation")
		let currentRotation = 0;
		let queenCounter = 0
		let heartsCounter = 0
		const playerData = [];

		// Set up array of player data objects -------------------------------------------------------------------------------
		for(let i = 0; i < players.length; i++) {
			let text = players[i].innerHTML;
			let playerName = text.split("-")[0].trim();
			let score = Number(text.split("-")[1].trim());

			let player = {
				name: playerName,
				score: score,
				hands: [],
				queens: 0,
				moonshots: 0,
				placing: 1
			}
			playerData.push(player)
		}

		// Animation for fading out errors -----------------------------------------------------------------------------
		const fade = (element) => {
			let opacity = 100;
			const duration = setInterval(() => {
				if (opacity <= 0.1) {
					clearInterval(duration);
					element.remove();
				}
				element.style.opacity = `${opacity}%`;
				opacity -= 1;
			}, 50)
		}

		// Sets initial state of progress bars -------------------------------------------------------------------------------
		const setBars = () => {
			for(let i = 0; i < playerData.length; i++) {
				let player = playerData[i]
				let temp = player.score / maxPoints;
				let progress = Number(temp.toFixed(2)) * 100
				if (progress >= 100) {
					progress = 100;
				}
				document.getElementById(`${player.name}_bar`).style.width = `${progress}%`;
			}
		}

		// Sets initial state of progress bars -------------------------------------------------------------------------------
		const setRotation = () => {
			let initial = document.getElementById(`rotation_${rotation[currentRotation].innerHTML}`)
			initial.style.backgroundColor = "#ff4040"
		}

		// Change rotation step -------------------------------------------------------------------------------
		const changeRotation = () => {
			let current = document.getElementById(`rotation_${rotation[currentRotation].innerHTML}`)

			if (currentRotation === rotation.length - 1) {
				let next = document.getElementById(`rotation_${rotation[0].innerHTML}`)

				current.style.backgroundColor = "whitesmoke";
				next.style.backgroundColor = "#ff4040"

				currentRotation = 0;
			} else {
				let next = document.getElementById(`rotation_${rotation[currentRotation + 1].innerHTML}`)

				current.style.backgroundColor = "whitesmoke";
				next.style.backgroundColor = "#ff4040"

				currentRotation++;
			}
		}

		// Submit form -------------------------------------------------------------------------------
		const send = () => {
			// Sorting data to be in order of lowest points
			let playerDataSorted = playerData.sort((a, b) => {
				return a.score - b.score;
			})

			let placing = 1

			// Changing placing based on sorted data
			for (let i = 0; i < playerDataSorted.length; i++) {
				if (i > 0 && playerDataSorted[i].score > playerDataSorted[i - 1].score) {
					placing++
				}
				playerDataSorted[i].placing = placing
			}

			let playerDataText = JSON.stringify(playerDataSorted);
			const formData = document.getElementById("formData");
			formData.value = playerDataText;

			document.getElementById("form").submit();
		}

		// Update scores and player stats if input is correct -------------------------------------------------------------------------------
		const updateScores = () => {
			let heartInputs = document.querySelectorAll("input[type=number]")
			heartInputs.forEach(input => {
				heartsCounter += Number(input.value);
			})

			let queenInputs = document.querySelectorAll("input[type=checkbox]")
			queenInputs.forEach(input => {
				if (input.checked) {
					queenCounter += 1;
				}
			})

			// Only update scores if hearts and queen is correct
			if (heartsCounter === 13 && queenCounter === 1) {
				for(let i = 0; i < playerData.length; i++) {
					//Gathering data
					let player = playerData[i]

					//Setting current progress so animation function has baseline
					let temp = player.score / maxPoints;
					let current = Number(temp.toFixed(2)) * 100
					if (current >= 100) {
						current = 100;
					}

					let hearts = document.getElementById(`${player.name}_hearts`)
					let queen = document.getElementById(`${player.name}_queen`)

					//Adding Score and adding to hearts counter
					player.score += Number(hearts.value);
					if (hearts.value === "") {
						player.hands.push(0)
					} else {
						player.hands.push(Number(hearts.value))
					}

					//Checking if queen is selected and adding to number of queens selected
					if (queen.checked) {
						player.score += 13;
						player.queens += 1
					}

					//New progress value
					let temp1 = player.score / maxPoints;
					let progress = Number(temp1.toFixed(2)) * 100
					if (progress >= 100) {
						progress = 100;
					}

					//Animate moving of progress bar
					let bar = document.getElementById(`${player.name}_bar`);
					const load = () => {
						if (current >= progress) {
							clearInterval(id)
						} else {
							current++;
							bar.style.width = `${current}%`
						}
					}
					let id = setInterval(load, 10);

					// Set player score and clear inputs
					let target = document.getElementById(player.name)
					target.innerHTML = `${player.name} - ${player.score}`
					hearts.value = '';
					queen.checked = false;
				}

				// Ending game if a score is greater than max points
				for(let i = 0; i < playerData.length; i++) {
					let player = playerData[i];

					if (player.score >= maxPoints) {
						send()
					}
				}

			} else {
				let pointError = document.createElement('p');
				pointError.setAttribute('class', 'error');
				pointError.innerHTML = `Hearts do not total 13 or a wrong number of queens selected`;

				document.getElementById("pointsValidate").appendChild(pointError);
				fade(pointError)
			}

			heartsCounter = 0;
			queenCounter = 0;
			changeRotation()
		}

		const moonshot = () => {
			document.addEventListener('click', function(e) {
				let temp = e.target.id
				let shooter = temp.split("_")[0]

				playerData.forEach(player => {
					if (player.name === shooter) {
						player.moonshots += 1
						player.hands.push(0)
					} else {
						let temp = player.score / maxPoints;
						let current = Number(temp.toFixed(2)) * 100
						if (current >= 100) {
							current = 100;
						}

						player.score += 26
						player.hands.push(26)

						let temp1 = player.score / maxPoints;
						let progress = Number(temp1.toFixed(2)) * 100
						if (progress >= 100) {
							progress = 100;
						}

						let bar = document.getElementById(`${player.name}_bar`);
						const load = () => {
							if (current >= progress) {
								clearInterval(id)
							} else {
								current++;
								bar.style.width = `${current}%`
							}
						}
						let id = setInterval(load, 10);

						let target = document.getElementById(player.name)
						target.innerHTML = `${player.name} - ${player.score}`
					}
				})

				for(let i = 0; i < playerData.length; i++) {
					let player = playerData[i];

					if (player.score >= maxPoints) {
						send()
					}
				}
			}, {once: true})
		}

		window.onload = setBars;
		window.onload = setRotation;

		const resize = () => {
			let roto = document.getElementById("roto")
			let title = document.getElementById("title")
			let queens = document.getElementsByClassName("checked-label")
			//let private = document.getElementById("private")

			//owned.style.textAlign = "center";
			title.style.fontSize = "35px";
			roto.style.gridTemplateColumns = "1fr 1fr 1fr";
			for (let i =0; i < queens.length; i++) {
				queens[i].innerHTML = "Q"
			}


		}

		if (window.innerWidth < 600) {
			resize()
		}
	</script>

{% endblock %}