{% extends "home_app/base.html" %}
{% load static %}

{% block title %}
Hearts Hub - Groups
{% endblock %}

{% block content %}

	<h1 class="page-title">Groups</h1>

	<h2 class="section-title">Private Groups</h2>
	<h5 class="desc-small">These are the groups you do not have currently shared</h5>
	<div class="grid" id="private">
		{% for group in groups %}
			{% if group.data.shared == False %}
				<a href="{% url 'groupview' group.data.id %}" class="card-link">
					<div class="card" style="padding-bottom: 10px">
						<img src="{% static 'home_app/images/spade.png' %}" alt="spade icon" class="spade-icon">
						<img src="{% static 'home_app/images/heart.png' %}" alt="heart icon" class="heart-icon">
						<img src="{% static 'home_app/images/diamond.png' %}" alt="diamond icon" class="diamond-icon">
						<img src="{% static 'home_app/images/club.png' %}" alt="club icon" class="club-icon">
						<h4>{{group.data.name}}</h4>

						<div class="line-break"></div>

						<p>Players</p>
						{% for player in group.data.stats %}
							<span class="player-span">{{player.name}}</span>
						{% endfor %}

						<div class="line-break"></div>

						<p>Games Played: {{group.count}}</p>
					</div>
				</a>
			{% endif %}
		{% endfor %}
	</div>
	{% if not groups %}
		<div class="container-center">
			<p class="message">You currently do not have any groups.<br>You can create groups in the create tab</p>
		</div>
	{% endif %}

	<h2 class="section-title">Shared Groups</h2>
	<h5 class="desc-small" style="margin-bottom: 10px;">These are the groups you have currently shared with other users. Share or delete groups on the group page. You can only delete groups you own</h5>

	<h4 class="sub-section-title" id="owned">Owned</h4>
	{% if groupsShared %}
		<div class="grid">
			{% for group in groupsShared %}
				<a href="{% url 'groupview' group.data.id %}" class="card-link">
					<div class="card" style="padding-bottom: 10px">
						<img src="{% static 'home_app/images/spade.png' %}" alt="spade icon" class="spade-icon">
						<img src="{% static 'home_app/images/heart.png' %}" alt="heart icon" class="heart-icon">
						<img src="{% static 'home_app/images/diamond.png' %}" alt="diamond icon" class="diamond-icon">
						<img src="{% static 'home_app/images/club.png' %}" alt="club icon" class="club-icon">
						<h4>{{group.data.name}}</h4>

						<div class="line-break"></div>

						<p>Players</p>
						{% for player in group.data.stats %}
							<span class="player-span">{{player.name}}</span>
						{% endfor %}

						<div class="line-break"></div>

						<p>Games Played: {{group.count}}</p>
					</div>
				</a>
			{% endfor %}
		</div>
	{% endif %}
	{% if not groupsShared %}
		<div class="container-center">
			<p class="message">You are currently not sharing groups with other users</p>
		</div>
	{% endif %}

	<h4 class="sub-section-title" id="shared">Shared with Me</h4>
	{% if sharedgroups %}
		<div class="grid">
			{% for group in sharedgroups %}
				<a href="{% url 'groupview' group.data.id %}" class="card-link">
					<div class="card" style="padding-bottom: 10px">
						<img src="{% static 'home_app/images/spade.png' %}" alt="spade icon" class="spade-icon">
						<img src="{% static 'home_app/images/heart.png' %}" alt="heart icon" class="heart-icon">
						<img src="{% static 'home_app/images/diamond.png' %}" alt="diamond icon" class="diamond-icon">
						<img src="{% static 'home_app/images/club.png' %}" alt="club icon" class="club-icon">
						<h4>{{group.data.name}}</h4>

						<div class="line-break"></div>

						<p>Players</p>
						{% for player in group.data.stats %}
							<span class="player-span">{{player.name}}</span>
						{% endfor %}

						<div class="line-break"></div>

						<p>Games Played: {{group.count}}</p>
					</div>
				</a>
			{% endfor %}
		</div>
	{% else %}
		<div class="container-center">
			<p class="message">You currently do not have any groups shared with you</p>
		</div>
	{% endif %}

	<script type="text/javascript">
		const resize = () => {
			let owned = document.getElementById("owned")
			let shared = document.getElementById("shared")
			let private = document.getElementById("private")

			owned.style.textAlign = "center";
			shared.style.textAlign = "center";
			private.style.gridTemplateColumns = "1fr"
		}

		if (window.innerWidth < 600) {
			resize()
		}
	</script>

{% endblock %}