{% extends "home_app/base.html" %}
{% load custom_tags %}

{% block title %}
Hearts Hub - Groups
{% endblock %}

{% block content %}
	<h1>{{group.name}}</h1>
	<h3>Max Points - {{group.maxpoints}}</h3>
	<body>
		<h4>Players</h4>
		<ul>
			{% for i in group.person_set.all %}
				<li>{{i.name}}</li>
			{% endfor %}
		</ul>

		<h4>Games</h4>
		<ul>
			{% for i in group.game_set.all %}
				{% if i.complete == False %}
					<li><a href = "{% url 'game_' group.id i.id %}">{{i.name}}</a></li>
				{% else %}
					<li><a href = "{% url 'result' i.results.id %}">{{i.name}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>

		<form method="post" action="#">
			{% csrf_token %}
			<button type="submit", name="newgame", value="newgame" class="btn btn-outline-primary">New Game</button>

			<div class="input-group mb-3">
				<input type="text" list="userlist" name="shareduser" class="form-control col-2" placeholder="Enter Username" aria-label="Enter Username" aria-describedby="basic-addon1">
				<datalist id="userlist">
					{% for i in users %}
						{% if i.username != username %}
							<option value="{{ i.username }}">
						{% endif %}
					{% endfor %}
				</datalist>
				<div class="input-group-append">
					<button name="share" value="share" class="btn btn-outline-secondary" type="submit">Share Group</button>
				</div>
			</div>

			{% if group.user == user %}
				<div>
					<button type="submit", name="delete", value="delete" class="btn btn-outline-danger">Delete Group</button>
				</div>
			{% endif %}
		</form>
	</body>
{% endblock %}