{% extends "home_app/base.html" %}
{% load custom_tags %}

{% block title %}
Hearts Hub - Groups
{% endblock %}

{% block content %}
	<h1 class="page-title">{{group.name}}</h1>
	<h3>Current Max Points for Games - {{group.maxpoints}}</h3>

	{% if group.game_set.all %}
		<div class="container-center">
			<a class="link" href="{% url 'groupStats' group.id %}">View Group Statistics</a>
		</div>
	{% endif %}

	<h2 class="section-title">Players</h2 class="section-title">
	<h5 class="desc-small">Click here to view individual statistics of players</h5 class="desc-small">
	{% if group.game_set.all %}
		<div class="grid">
			{% for player in group.stats %}
				<a class="card-link" href="{% url 'playerGroupStats' group.id player.name %}">
					<div class="card">
						<p style="text-align: center; font-weight: bold">{{player.name}}</p>
					</div>
				</a>
			{% endfor %}
		</div>
	{% else %}
		<div class="container-center">
			<p class="message">You must play at least one game to get these views</p>
		</div>
	{% endif %}

	<h2 class="section-title" class="section-title">Games</h2 class="section-title">
	<h5 class="desc-small">Click a game to view the results</h5>
	<div class="container-center">
		<a href="{% url 'newGame' group.id gameNumber %}" class="btn-submit" style="font-size: 13px; margin-top: 10px; display: inline-block;">New Game</a>
	</div>
	<div class="grid">
		{% for i in group.game_set.all %}
			<a href="{% url 'result' group.id i.id %}" class="card-link">
				<div class="card">
					<p style="text-align: center; font-weight: bold;">{{i.name}}</p>
				</div>
			</a>
		{% endfor %}
	</div>
	{% if not group.game_set.all %}
		<div class="container-center">
			<p class="message">You have not played any games in this group yet</p>
		</div>
	{% endif %}

	{% if group.user == user %}
		<h2 class="section-title">Manage Group</h2>
		<h5 class="desc-small">Select a player from your friends list to share this group with. They will be able to play games in this group.</h5>
		<h4 class="sub-section-title" id="owned">Shared Users</h4>
		{% if group.sharedUsers.all %}
			<div class="grid">
				{% for profile in group.sharedUsers.all %}
					<p class="card" style="cursor: pointer; text-align: center; padding: 10px 10px; font-weight: bold; background-color: lightgray">{{profile.user}}</p>
				{% endfor %}
			</div>
		{% else %}
			<div class="container-center">
				<p class="message">You are currently not sharing this group with other users</p>
			</div>
		{% endif %}
		<form method="post" action="#">
			{% csrf_token %}
			<input type="text" list="userlist" name="shareduser" placeholder="Enter username to share with">
			<!-- <datalist id="userlist">
				{% for i in users %}
					{% if i.username != username %}
						<option value="{{ i.username }}">
					{% endif %}
				{% endfor %}
			</datalist> -->
			<div class="input-group-append">
				<button name="share" value="share" class="btn-submit" type="submit">Share Group</button>
			</div>
			{% if result %}
				<div class="container-center" style="display: inline-block;">
					<p class="{{result.type}}" id="shared" style="text-align: center;">{{result.message}}</p>
				</div>
			{% endif %}

			<div class="line-break"></div>
			<div>
				<button type="submit", name="delete", value="delete" class="btn-delete">Delete Group</button>
			</div>
		</form>
	{% endif %}
{% endblock %}