{% extends 'home_app/base.html' %}

{% block title %}
Hearts Tracker - Home Page
{% endblock %}

{% block content %}

<h1 class="title">Hearts Hub</h1>

<body>
	<h2>About</h2>

	<p>This is a WebApp intended to make the tracking of points for Hearts more streamlined and convenient. See below for future features to be added.</p>
	<br>
	<h2>Future Additions</h2>
	<ul>
		<li>Moonshot button</li>
		<li>Duplicate group button (replicates players and starts new group with them)</li>
		<li>Person statistics tracking (will track the player's alltime stats i.e. moonshots, points per game, average placing, etc.)</li>
		<li>Group statistics: will show stats for players specific to games played within the group (average placings, most placed, etc.)</li>
		<li>Animations for significant situations (moonshots, 0 points in game, etc.)</li>
	</ul>
</body>
{% endblock %}