<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
	<title>
		{% block title %}
		Register
		{% endblock %}
	</title>
</head>

<body>
	<div class="header">
		<img src="{% static 'home_app/images/logo.png' %}" alt="logo" class="logo">
		<!-- <p>Hearts Hub</p> -->
	</div>

	<div class="center">
		<h1 class="page-title">Create an Account</h1>
		<div class="card" style="margin-top: 30px; text-align: center;">
			<form method="POST" class="form-group">
				{% csrf_token %}
				{{ form }}
				<br>
				<button type="submit" class="btn-submit">Register</button>
			</form>
			<a href="/" class="btn-submit">Home</a>
		</div>
	</div>

	<div class="home_app">
		{% if messages %}
			<ul class="messages">
    			{% for message in messages %}
    				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    			{% endfor %}
			</ul>
		{% endif %}
	</div>

</body>

<footer>
	<p>An AppMoto Creation</p>
</footer>
</html>